<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Star</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/header') %>
    <header>
        <h1>Edit Star</h1>
        <a href="/stars">Back to List</a>
    </header>
    <main>
        <form action="/stars/<%= star.id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT" />
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= star.name %>">
          
            <label for="size">Size:</label>
            <input type="text" id="size" name="size" value="<%= star.size %>">
          
            <label for="description">Description:</label>
            <textarea id="description" name="description"><%= star.description %></textarea>
          
            <button type="submit">Update</button>
          </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
