<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title><%= planet.name %></title>
</head>
<body>
  <%- include('../partials/header') %>
  <h1><%= planet.name %></h1>
  <p><strong>Description:</strong> <%= planet.description %></p>
  <p><strong>Size:</strong> <%= planet.size %></p>
  <% if (planet.imagePath) { %>
    <img src="/uploads/<%= planet.imagePath %>" alt="<%= planet.name %>" width="200">
  <% } else { %>
    <p>No image available</p>
  <% } %>
  <a href="/planets">Back to Planets</a>
  <%- include('../partials/footer') %>
</body>
</html>
